﻿@{
    ViewBag.Title = "Home Page";
}

<div class="row1">
    <header id="header" class="hoc clear">

        <h1><a href="index.html">Futsal</a></h1>
        <p>Welcome to our page</p>

    </header>
</div>

<div class="homepage" style="background-image:url('images/black-football-soccer-backgrounds-powerpoint.jpg');">
    <div id="pageintro" class="hoc clear">

        <article>
            <h3 class="heading">Futsal management system</h3>
            <footer>
                <ul class="nospace inline pushright">
                    <li><a class="btn" href="#">BOOK NOW</a></li>
                    <li><a class="btn inverse" href="locateus.html">LOCATE US</a></li>
                </ul>
            </footer>
        </article>

    </div>
</div>

<div class="row2">
    <footer id="footer" class="hoc clear">
        <div class="one_third first">
            <h6 class="heading" color="black">Futsal Management system</h6>
            <ul class="nospace btmspace-30 linklist contact">
                <li>
                    <i class="fa fa-map-marker"></i>
                    <address>
                        Kamal Pokhari, Kathmandu, 446000
                    </address>
                </li>
                <li><i class="fa fa-phone"></i> +9779806090230</li>
                <li><i class="fa fa-envelope-o"></i> Ghadhasfutsal@gmail.com</li>
            </ul>
            <ul class="faico clear">
                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="dribble" href="#"><i class="fa fa-dribbble"></i></a></li>

            </ul>
        </div>


    </footer>
</div>

<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
