﻿
@model  Futsal_MS.Models.Booking
@*@model dynamic*@

@{
    ViewBag.Title = "Create";
}

<h4>@ViewBag.error</h4>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Booking</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">

        <div class="form-group">
            @Html.LabelFor(model => model.times, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DropDownListFor(model => model.times, new SelectList(ViewBag.list), "Select your time for booking", htmlAttributes: new { @class = "form-control" })

        </div>

    </div>


    <div class="form-group">
        @Html.TextBoxFor(model => model.time,
  new { @type = "date" })
    </div>

    <div class="form-group">
        @TempData["error"]
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Book Now" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts{
    <script>
    var now = moment(new Date()); //todays date
    var end = moment(@DateTime.Now.AddDays(14); // another date
    //var duration = moment.duration(now.diff(end));
    var days = duration.asDays();
    document.getElementById("datestopper").setAttribute("min", now);
    document.getElementById("datestopper").setAttribute("max", end);
    </script>

}