﻿@model Futsal_MS.Models.Booking

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
   
        <div class="form-horizontal">
            <h4>Booking</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">

                <div class="form-group">
                    @Html.LabelFor(model => model.times, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.DropDownListFor(model => model.times, new SelectList(ViewBag.list), "Select your time for booking", htmlAttributes: new { @class = "form-control" })

                </div>

            </div>


            <div class="form-group">
                @Html.TextBoxFor(model => model.time,new { htmlattribute=new { @class = "form-control datetimepicker" } })
            </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
           </div>
        </div>
   
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
