﻿@model IEnumerable<Futsal_MS.Models.Booking>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("Time of Booking")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.Label("Booked By")
        </th>
    </tr>
   
        @foreach (var item in Model)
        {
        <tr>
            <td>

                @item.time.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.times)
            </td>
            <td>

                @Html.DisplayFor(modelItem => item.Price)

            </td>
            <td>

                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>

                @Html.ActionLink("Details", "Details", new { id = item.Booking_ID }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Cancel Booking", "Delete", new { id = item.Booking_ID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
