﻿@using Futsal_MS.Models;
@model dynamic
@{
    ViewBag.Title = "multiview";
}

<h2>multiview</h2>

<table class="table table-striped">
    <thead class="thead-dark">
        @{
            var today = DateTime.Now;
            var tomorrow = today.AddDays(1);
            var yesterday = today.AddDays(-1);
        }
        <tr>
            <td style="width:16.66%">
            </td>
            <td style="width:16.66%">
                @Html.ActionLink("previous", "Create", new { @class = "btn btn-default" })
            </td>
            <td> <h5> @DateTime.Now.ToShortTimeString(),@DateTime.Now.DayOfWeek,@DateTime.Now.ToShortDateString()</h5></td>
            <td style="width:16.66%">
                @Html.ActionLink("Next", "Create", new { @class = "btn btn-default" })
            </td>
            <td style="width:16.66%">
            </td>
        </tr>
</table>
<center><h5>All games except saturday are Rs 1000</h5></center>
<table class="table table-striped">
    <tr>
        <td></td>
        <th scope="col">
            Time
        </th>
        <th scope="col">
            Status
        </th>
        <th>
            Price
        </th>
    </tr>

    @foreach (var item in Model.bookinglist)
    {
        <tr>
            <td></td>
            <td>
                @item.Time -




                @{
                    DateTime hour = item.Time.AsDateTime();


                }
                @hour.AddHours(1).ToShortTimeString()
            </td>

            <td>

                @if (item.Time.ToString() == "10:00 AM")
                {
                    <text> This is booked </text>
                    @Html.ActionLink("click to cancel booking", "DeleteBookingConfirmed", new { time = item.Time }, new { @class = "btn btn-danger" })
                }
                else
                {
                    @Html.ActionLink("Book Now", "Create", new { time = item.Time }, new { @class = "btn btn-primary" })
                }
            </td>
            <td>
                @item.Price
            </td>
        </tr>

    }
</table>
<hr />
@Html.ActionLink("7:00", "Create", new { time = 3 })
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


